h1 {
    text-align: center;
    border: black groove 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background: linear-gradient(to right, red,yellow);
 }
ul{
    border: black solid 1px;
    font-family: "Comic Sans MS", Times, serif;


}
li{
    margin-bottom: 8px;
    font-size: large;
}
.delete-btn {
    margin-left: 8px;
    color: red;
    cursor: pointer;
}
.meal-type{
    font-style: italic;
    //margin-left: 2px;
    margin-right: 1px;
    color: red;
}
.date{
    margin-left: 3px;
    background:linear-gradient(to right,red, blueviolet, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-family: Rockwell, "Times New Roman", Times, serif;
    color: black;
    font-size: x-large;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: #D6D6D3;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 600px){
    body{
        font-size: 18px;
    }
    h1{
        font-size: 26px;
    }
    li{
        font-size: 20px;
    }
    label,input,select,button{
        font-size: 14px;
    }
}
